* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
}

.app {
    position: relative;
    width: 328px;
    height: 452px;
    cursor: pointer;
    margin: 20px auto;
}

.app-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    border-radius: 4px;
    box-shadow: 0 24px 40px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    background: #f1f1f1;
    padding-bottom: 40px;
}

.app-photo {
    width: 100%;
    background-position: center;
}

.app-title {
    padding-top: 30px;
    text-align: center;
}

.app-title .name {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.app-title .track {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    /* background: grey; */
}

.linkButton {
    border: none;
    width: 100%;
    display: block;
    padding: 15px 0;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
}

.datetime {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}